/.idea/
.DS_Store
.gitignore
backend/app/__pycache__/__init__.cpython-314.pyc
.gitignore
backend/app/__pycache__/__init__.cpython-312.pyc
backend/app/adapters/__pycache__/__init__.cpython-312.pyc
.gitignore
.gitignore
backend/app/adapters/__pycache__/db.cpython-314.pyc
backend/app/presentation/api/__pycache__/admin_endpoints.cpython-312.pyc
backend/app/core/__pycache__/config.cpython-314.pyc
backend/app/core/__pycache__/config.cpython-312.pyc
backend/app/core/__pycache__/__init__.cpython-314.pyc
backend/app/core/__pycache__/__init__.cpython-312.pyc
backend/app/adapters/__pycache__/db.cpython-312.pyc
backend/app/adapters/__pycache__/__init__.cpython-314.pyc
backend/app/domain/__pycache__/__init__.cpython-312.pyc
backend/app/domain/__pycache__/entities.cpython-312.pyc
backend/app/domain/__pycache__/repositories.cpython-312.pyc
backend/app/infrastructure/__pycache__/__init__.cpython-312.pyc
backend/app/infrastructure/__pycache__/__init__.cpython-314.pyc
backend/app/infrastructure/repos/__pycache__/__init__.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/__init__.cpython-314.pyc
backend/app/infrastructure/repos/__pycache__/community_repo.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/company_repo.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/event_repo.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/follow_repo.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/membership_repo.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/sql_models.cpython-312.pyc
backend/app/infrastructure/repos/__pycache__/sql_models.cpython-314.pyc
backend/app/presentation/__pycache__/__init__.cpython-312.pyc
backend/app/presentation/api/__pycache__/__init__.cpython-312.pyc
backend/app/presentation/api/__pycache__/communities_endpoints.cpython-312.pyc
backend/app/presentation/api/__pycache__/companies_endpoints.cpython-312.pyc
backend/app/presentation/api/__pycache__/events_endpoints.cpython-312.pyc
backend/app/usecases/__pycache__/__init__.cpython-312.pyc
backend/app/usecases/__pycache__/companies.cpython-312.pyc
backend/app/usecases/__pycache__/events.cpython-312.pyc
